<div class="carousel-wrapper">                
    <span id="target-item-1"></span>                
    <span id="target-item-2"></span>                
    <span id="target-item-3"></span>
    <div class="carousel-item item-1">
    <p>
        <span class="carousel-1-text">Cultivate above all things a taste for reading<br>
        </span>
            <span class="writer">&ndash;Robert Towe</span>
        </p>
    <a class="arrow arrow-prev" href="#target-item-3"></a>                
    <a class="arrow arrow-next" href="#target-item-2"></a>                
    </div>                
    <div class="carousel-item item-2 light">                
    
    <img src="./img/books/youlovedme.jpg" class="carousel-2-img" alt="book cover">
    &nbsp;&nbsp;
    <div class="carousel-2-text">
        <div class="info">Bestseller of the Month</div>
        <h1>You loved me</h1>&nbsp;at my darkest<br>
        <div class="carousel-2-text-writer">
            &nbsp;Author:  Evie Harper<br>
            &nbsp;<span class="book-mrp">MRP: Rs. 550 </span>
            <span class="book-price">Our Price: Rs. 330</span> 
        </div>
        <div class="carousel-2-btn  btn-big">
            <a class="carousel-2-btn-link" href="#" tabindex="0">View Details</a>
        </div>
        <br><br>
    </div>
            
    <a class="arrow arrow-prev" href="#target-item-1"></a>                
    <a class="arrow arrow-next" href="#target-item-3"></a>                
    </div>                
    <div class="carousel-item item-3">
    <div class="carousel-item-3">
        <div class="carousel-3-left">
            <img src="./img/books/swami_vivekananda.jpg" class="carousel-img carousel-img-1" alt="indian book collection">
            <img src="./img/books/bookcover.jpg" class="carousel-img carousel-img-2" alt="indian book collection">
            <img src="./img/books/ignitedMinds.jpg" class="carousel-img carousel-img-3" alt="indian book collection">
        </div>
        <div class="carousel-3-right ">
            <span class="carousel-title">
                <h2>Independence Day Offers</h2>
            </span>    
            <p>Enjoy 15% on all Indian best settlers</p>
            <input type="button" tabindex="-1" value="Read More">
        </div>
    </div>
    <a class="arrow arrow-prev" href="#target-item-2"></a>
    <a class="arrow arrow-next" href="#target-item-1"></a>                
    </div>                
</div>  
<section class="section-keypoints" role="complementary" aria-labelledby="keypoint_section">
    <div class="keypoint" id="keypoint_section">
        <div class="keypoint__block">
            <svg class="key-icon icon-big">
                <use xlink:href="./img/icons/SVG-sprite.svg#food-truck"></use>
            </svg>
            <div class="key-name">
                Quick Delivery<br>
                <span class="key-desc">Lorem ipsum dolor sit amet, adilit</span>
            </div>
        </div>
        <div class="keypoint__block">
            <svg class="key-icon icon-big">
                <use xlink:href="./img/icons/SVG-sprite.svg#wallet"></use>
            </svg>
            <div class="key-name">
                Pay with Easy<br>
                <span class="key-desc">
                        sed do eiusmod tempor ut la
                </span>
            </div>                    
        </div>
        <div class="keypoint__block">
            <svg class="key-icon icon-big">
                <use xlink:href="./img/icons/SVG-sprite.svg#gift"></use>
            </svg>
            <div class="key-name">
                Best Deals<br>
                <span class="key-desc">
                        Ut enim ad minim veniam, quis nostrud
                </span>
            </div>   
        </div>   
        <div class="keypoint__block">
            <svg class="key-icon icon-big">
                <use xlink:href="./img/icons/SVG-sprite.svg#secure-payment"></use>
            </svg>
            <div class="key-name">
                Secure Payment<br>
                <span class="key-desc">
                        Duis aute irure dolor in voluptate velit
                </span>
            </div>                                                  
        </div>
    </div>
</section>
<section class="searchBox" role="search">
    <div class="search__div">
        <label for="inputSearch">Search our library</label><br><br>
        <input type="search" class="search__div-input" id="inputSearch" placeholder="Search by Book name...">
        <input type="submit" class="search__div-btn" id="btnSearch" value="Search">
    </div>
</section>
