.section-search {
    background-color: var(--color-primary-dark);
    padding: 2rem 2rem; 
    color: var(--color-grey-light-3); 
    font-size: 120%;

    &__heading
    {
        font-size: 220%;
        font-weight: bold;
        }

    &__inlineList {                
        list-style: none;          
        white-space: nowrap;
        margin: 7px -1px
      }
}
