// COLOR VARIABLES
$color-primary: #f4f4f4;
$color-primary-heading:#f4f4f4;
$color-primary-btn:#dcd0c0;
$color-primary-dark:#c0b283;
$color-grey-dark-1:#CA0B0B;
$color-primary-font:#373737;
$color-nav-active:#f4f4f4;
$color-span-sub:#6B063A;
$color-primary-hover:#dcd0c0;
$color-footer:#1C2A43;
$color-cart-blue:#0088cc;
$color_final_checkout:#3A4404;

$color-accordion-btn:#dcd0c0;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;


html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-primary-font;
    font-weight: 300;
    line-height: 1.6;
    font-size: 2rem;
    background-color:$color-primary;
    margin: 0;
}

 .container {
     display: grid;
     grid-template-rows: auto min-content auto repeat(6, min-content);
     grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 40rem) [col-end]) [center-end] minmax(6rem, 1fr)[full-end] ;

     @include respond(tab-port) {
        grid-template-rows: 50rem auto min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
    
 }