.main-content{    
    grid-column: full-start/full-end;
    background-position: center;
    margin: 5rem 0;
    font-family: $font-display;    
    height:35rem;    
    clear: both;
    
    img{
         width: 100%;
         height:40rem;
         @include respond(tab-land){            
            margin-top: 3rem ;            
        }

        @include respond(phone){            
            margin-top: 5rem ;            
        }
    }

    .banner-heading{
        z-index: 1;
        text-transform: uppercase;
        top: 25rem;        
        color: $color-primary-dark;
        left: 25%;
        width: 40rem;
        height: inherit;
        min-width: 11.3rem;
        position: absolute;
        transform: translate(-50%,-50%);
        
        text-align: center;

        @include respond(phone){            
            left:20rem ;
            top: 32rem;
        }

        @include respond(tab-land){            
            top: 25rem ;            
        }

        @include respond(tab-port){            
            top: 30rem ;            
        }
    }
    .span-main{
        font-size: 4rem;
        color: $color-primary-font;

        @include respond(tab-port){            
            font-size: 3rem;           
        }
        @include respond(phone){            
            font-size: 3rem;           
        }
    }
    .span-sub{
        display: block;
        color: $color-span-sub;
        letter-spacing:.4rem;
        padding-bottom: 2rem;
        font-size: 2.4rem;

        @include respond(tab-port){            
            font-size: 2rem;           
        }
        @include respond(phone){            
            font-size: 2rem;           
        }
    }

    .btn:link,
    .btn:visited{
        text-decoration: none;
        padding: 1.5rem 2.5rem; 
        border-radius: 10rem;        
        transition: all .2s;
    }

    .btn-white{
        background-color: $color-primary-dark;
        color: $color-primary-font;        
    }
    .btn:active{
        transform: translateY(-.1rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    }

    .btn:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
}
