.features{    
    grid-column: full-start/full-end;    
    padding: 1rem;
    font-family: $font-display;
    clear: both;
    margin-top: 5rem;    

    @include respond(tab-port){
        margin-top: auto ;
    }
    
    .accordion {
    background-color: $color-primary-dark;
    color: $color-primary-font;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.8rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 1s;
    margin-bottom: 1rem; 

    @include respond(phone){
        margin: 2rem 0 1rem 0 ;
    }
    }    
    
    .active, .accordion:hover {
        background-color: $color-primary-hover; 
    }
    
    .panel {
        padding: 0 1.8rem;
        display: none;
        background-color: $color-primary;        
    }

    .menu-item{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        grid-gap: 5rem;
        align-items: start;
        align-content: center;
        color: $color-primary-font; 
    }

    .panel-item{
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    background-color: $color-primary-btn;
    height: 60rem;
    min-height: 35rem;
    margin-bottom: 2rem;
    width: 100%;    

        img{
            width: 80%;
            grid-row: 1 / 1;
            grid-column: 1 / -1;
            justify-self: center;
            align-self: end;
            min-width: 20rem;
            max-height: 35rem;
            min-height: 35rem;
        }

        .menu__name {
            grid-row: 1 / 1;
            grid-column: 1 / -1;
            justify-self: center;
            align-self: end;
            z-index: 3;
            width: 90%;
            font-family: $font-primary;
            font-size: 2.2rem;
            text-align: center;
            padding: 2rem;
            background-color: $color-primary-dark;
            color: $color-primary-font;
            font-weight: 700;
            transform: translateY(50%);
        }

        .menu__price
        {
            grid-row: 2 / 4;
            grid-column: 1 / -1;
            width: 92%;
            margin-left: 2rem;
            background-color: inherit;
            font-size: 2rem;            
            font-family: $font-primary;
            margin-top: 1rem; 
            text-align: center;
            span{
                color: inherit;
                font-weight: 500;
                float: left;                
            }

            .price__tag
                {
                    float: right;
                }            
        }

        .menu__qty{
            grid-row: 3 / 4;
            grid-column: 1 / 4;
            width: 98%;
            background-color: inherit;
            font-size: 2rem;            
            font-family: $font-primary;            
            text-align: center;
            margin-top: 3rem;

            span{
                color: inherit;
                font-weight: 500;
            }

            .qtyminus{
                grid-column: 1 / -1;
            }

            .qty{
                grid-column: 1 / -2;                
                text-align: center;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                padding: 1rem;
                width:50%;
                &::-webkit-inner-spin-button,
                ::-webkit-outer-spin-button {
                appearance: none;    }
            }

            .qtyplus{
                grid-column: 3 / -3;
            }
        }

        .menu__btn{
            grid-row: 4 / 4;
            grid-column: 1 / -1;
            background-color: $color-primary-btn;
            font-size: 2rem;            
            font-family: $font-primary;

            input{
                padding: 1.5rem;
                width:45%;
                text-decoration: none;
                font-size: 2rem;
                background-color: $color-primary-dark;
                margin: 2%;
            }
        }       

    }
}


