.search{ 
    margin-top: 2rem;
    font-size: 2rem;
    float: right;
    vertical-align: baseline;

    @include respond(phone)
    {
        text-align: center;
        margin: 2rem 0 2rem 0;
    }

    @include respond(tab-port)
    {        
        margin-top: 6rem;
    }
    
    input[type=text]{
        padding: 1.1rem;
        font-size: inherit;
        border: .1rem solid $color-primary-font;
        float: left;
        width: 65%;
        background: $color-primary;
        display: block;

        @include respond(phone)
        {
            width: 60%;
            margin-left: 1rem;
        }
    }

    button {
        float: left;
        padding: 1.1rem 1rem;
        background: $color-primary-dark;
        color: $color-primary-font;
        font-size: inherit;
        border: .1rem solid $color-primary-font;
        border-left: none;
        cursor: pointer;
        margin-left: 0;
    }

    button:hover {
        background: $color-accordion-btn;
    }

    .cart__order{
        margin-left: 2rem;       
    }

    *.icon-blue {
        color: $color-cart-blue;
      }
      
      i {        
        text-align: center;
        vertical-align: middle;
        position: relative;        
      }     
      
      .fa-border{          
          border: .1rem solid $color-primary-font;
      }
      .badge{
        margin-right: 1rem;
        float: right;
        font-size: 3rem;

        @include respond(phone)
        {            
            margin-bottom: .5rem;
            margin-left: 0;
        }

      }
      

      .badge:after {
        content: attr(data-count);
        position: absolute;
        background: $color-primary-heading;
        height: 2rem;
        top: 0rem;
        right: .2rem;
        width: 2rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        border-radius: 50%;
        color: $color-primary-font;
        border: .1rem solid $color-primary-font;
        font-family: inherit;
        font-weight: bold;        
      }
}

