.cart_wrapper {
    margin: 2rem;
    font-size:1.5rem;
}
.cart{
    padding: 2rem;
}
.order__total {
    border-bottom: 1px solid #eee;
    padding: .5rem;
}
.emptycart {
  text-align:center;
}
.center{
    text-align: center;
}