 <div class="cards">
                                <div class="card">
                                    <img src="assets/img/food/food7.jpg" alt="House 1" class="card__img">
                                    <h5 class="card__name">Beautiful Familiy House</h5>
                                    <div class="card__serving">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
                                        </svg>
                                        <p>325 m
                                            <sup>2</sup>
                                        </p>
                                    </div>
                                    <div class="card__price">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-key"></use>
                                        </svg>
                                        <p>$1,200,000</p>
                                    </div>
                                    <div class="card__quantity__group">
                                        <div class="card__quantity__label">
                                            <label for="txtQuantity">Quantity:</label>
                                        </div>
                                        <div class="card__quantity">
                                            <input type="text" value="1" class="card__quantity__box" name="quantity" id="txtQuantity">
                                        </div>
                                        <button class="btn btn--green card__btn">Add</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="assets/img/food/food4.jpg" alt="House 1" class="card__img">
                                    <h5 class="card__name">Beautiful Familiy House</h5>
                                    <div class="card__serving">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
                                        </svg>
                                        <p>325 m
                                            <sup>2</sup>
                                        </p>
                                    </div>
                                    <div class="card__price">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-key"></use>
                                        </svg>
                                        <p>$1,200,000</p>
                                    </div>
                                    <div class="card__quantity__group">
                                        <div class="card__quantity__label">
                                            <label for="txtQuantity">Quantity:</label>
                                        </div>
                                        <div class="card__quantity">
                                            <input type="text" value="1" class="card__quantity__box" name="quantity" id="txtQuantity">
                                        </div>
                                        <button class="btn btn--green card__btn">Add</button>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="assets/img/food/food6.jpg" alt="Food 1" class="card__img">
                                    <h5 class="card__name">Beautiful Familiy House</h5>
                                    <div class="card__serving">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
                                        </svg>
                                        <p>325 m
                                            <sup>2</sup>
                                        </p>
                                    </div>
                                    <div class="card__price">
                                        <svg>
                                            <use xlink:href="assets/img/sprite.svg#icon-key"></use>
                                        </svg>
                                        <p>$1,200,000</p>
                                    </div>
                                    <div class="card__quantity__group">
                                        <div class="card__quantity_label">
                                            <label for="txtQuantity">Quantity:</label>
                                        </div>
                                        <div class="card__quantity">
                                            <input type="text" value="1" class="card__quantity__box" name="quantity" id="txtQuantity">
                                        </div>
                                        <button class="btn btn--green card__btn">Add</button>
                                    </div>
                                </div>
                            </div>