// COLORS
$color-primary: green;
$color-grey-light-2: #eee;


$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT VARIABLES

$font-display: 'Josefin Sans', sans-serif;

