<section class="section-cart" id="section-cart">
            <div class="product__labels">
                <label class="product__labels__image">Image</label>
                <label class="product__labels__details">Product</label>
                <label class="product__labels__price">Price</label>
                <label class="product__labels__quantity">Quantity</label>
                <label class="product__labels__removal">Remove</label>
                <label class="product__labels__line-price">Total</label>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="assets/img/food/food5.jpg">
                </div>
                <div class="product__details">
                    <div class="product__title">Dingo Dog Bones</div>
                    <p class="product__description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once
                        and ate one myself. I'm a fan.</p>
                </div>
                <div class="product__calc">
                    <div class="product__price">12.99</div>
                    <div class="product__quantity">
                        <input type="number" value="1" min="1">
                    </div>
                    <div class="product__removal">
                        <button class="btn btn--small btn--red remove-product">
                            Remove
                        </button>
                    </div>
                    <div class="product__line-price">25.98</div>
                </div>
            </div>
            <div class="product">
                <div class="product__image">
                    <img src="assets/img/food/food4.jpg">
                </div>
                <div class="product__details">
                    <div class="product__title">Dingo Dog Bones</div>
                    <p class="product__description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once
                        and ate one myself. I'm a fan.</p>
                </div>
                <div class="product__calc">
                    <div class="product__price">12.99</div>
                    <div class="product__quantity">
                        <input type="number" value="1" min="1">
                    </div>
                    <div class="product__removal">
                        <button class="btn btn--small btn--red remove-product">
                            Remove
                        </button>
                    </div>
                    <div class="product__line-price">25.98</div>
                </div>
            </div>
            <div class="product">
                    <div class="product__image">
                        <img src="assets/img/food/food4.jpg">
                    </div>
                    <div class="product__details">
                        <div class="product__title">Dingo Dog Bones</div>
                        <p class="product__description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once
                            and ate one myself. I'm a fan.</p>
                    </div>
                    <div class="product__calc">
                        <div class="product__price">12.99</div>
                        <div class="product__quantity">
                            <input type="number" value="1" min="1">
                        </div>
                        <div class="product__removal">
                            <button class="btn btn--small btn--red remove-product">
                                Remove
                            </button>
                        </div>
                        <div class="product__line-price">25.98</div>
                    </div>
                </div>
            <div class="cart__totals">
                <div class="cart__totals__subtotal">
                    <label>Subtotal</label>
                    <div class="totals-value" id="cart-subtotal">71.97</div>
                </div>
                <div class="cart__totals__tax">
                    <label>GST</label>
                    <div class="totals-value" id="cart-tax">13.60</div>
                </div>
                <div class="cart__totals__shipping">
                    <label>Shipping</label>
                    <div class="totals-value" id="cart-shipping">15.00</div>
                </div>
                <div class="cart__totals__total totals-item-total">
                    <label>Grand Total</label>
                    <div class="totals-value" id="cart-total">90.57</div>
                </div>
            </div>
            <button class="btn btn--green checkout">Checkout</button>
            <div class="cart__empty hide">
                hello
            </div>
        </section>