<footer class="footer">
    <ul class="nav">
        <li class="nav__item">
            <a href="#" class="nav__link">Food at home</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Community</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Download app</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Contact us</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Franchising</a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">Come work with us!</a>
        </li>
    </ul>
    <p class="copyright">
        &copy; Copyright 2018 Brinker International All Rights Reserved
    </p>
</footer>