// COLORS
$color-primary: #e9b74b;
$color-primary-light: #7ed56f;
$color-primary-dark: #0f522e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #cd7327;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e4e4e4;
$color-grey-light-3: #f7f7f7d6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #e4dfdfd6;

$color-white: #fff;
$color-black: #000;

$bp-large: 68.75em; 

// scrren size
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

// FONT
$default-font-size: 1.6rem;
