<div class="cartItem">
       
            <div class="cartItem__image">
                    <img class="cartItem__image" src="img/{{img}}" alt="ItemImage">
            </div>
            <div class="cartItem__content">{{title}}</div>
            <div class="cartItem__content">₹{{price}}</div>
            <div class="cartItem__content">₹{{gst}}(GST)</div>
</div>
